<config>
   <productName>Bitrix24 Self-hosted BizPace 20.0 Installation</productName>
   <demoWizardName>bitrix:portal</demoWizardName>
   <skipInstallModules>statistic,voximplant,webdav,xmpp</skipInstallModules>
   <welcomeText>&lt;h4&gt;Thank you for choosing Bitrix24! &lt;/h4&gt; The installation wizard will check your software for compatibility and install Bitrix24.&lt;br&gt;&lt;br&gt;You can start using your intranet after the installation completes.&lt;br&gt;&lt;br&gt;Take advantage of the SiteUpdate system to obtain latest updates and module versions for Bitrix24.&lt;br&gt;&lt;br&gt;More details about Bitrix24 are available at: &lt;a href=&quot;http://www.bitrixsoft.com&quot; target=&quot;_blank&quot;&gt;http://www.bitrixsoft.com&lt;/a&gt;&lt;br&gt;&lt;br&gt;If you have questions regarding the installation of Bitrix24, feel free to contact our &lt;a href=&quot;http://www.bitrixsoft.com/support/&quot; target=&quot;_blank&quot;&gt;techsupport service&lt;/a&gt;.</welcomeText>
   <imageBoxSrc>/bitrix/wizards/bitrix/portal/images/en/box_cp.png</imageBoxSrc>
   <imageBoxHTML>/bitrix/wizards/bitrix/portal/images/en/box_cp.png</imageBoxHTML>
   <LANGUAGE_ID>en</LANGUAGE_ID>
   <INSTALL_CHARSET>iso-8859-1</INSTALL_CHARSET>
</config>
